.daftaruser {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px var(--primary);
}
.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10rem; */
  margin-left: 1rem;
  margin-right: 1rem;
}
.table {
  border: 0 solid #ccc;
  box-shadow: 2px 3px 4px #cce;
}
th {
  padding: 2rem;
  border-bottom: 1px solid#8e8e8e;
}
td {
  padding: 1rem;
  text-align: center;
}
.btnEdit {
  padding: 0.7rem;
  padding-inline: 2rem;
  background-color: var(--primary);
  border-radius: 1rem;
  color: #fff;
  font-size: medium;
}
.btnHapus {
  padding: 0.7rem;
  padding-inline: 2rem;
  background-color: rgb(210, 15, 15);
  border-radius: 1rem;
  color: #fff;
  font-size: medium;
}

/* ADD */
.field {
  padding: 0.5rem;
  text-align: center;
}
.input {
  padding: 0.8rem;
  width: 20rem;
  border-radius: 1.5rem;
  background-color: var(--secondary);
  color: #000;
}
.option {
  padding: 0.8rem;
  border-radius: 1.5rem;
  background-color: var(--secondary);
  color: #000;
  font-size: 1rem;
}
.save {
  padding: 0.8rem;
  width: 6rem;
  border-radius: 1rem;
  background-color: var(--tertiary);
  border: 1px solid var(--bg);
  box-shadow: 2px 2px 2px var(--secondary);
  color: #000;
  font-size: 1rem;
}
.save:hover {
  background-color: rgb(124, 246, 253, 0.5);
}

.btnadd {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 9rem;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(25, 151, 25);
  border: 1px solid var(--bg);
  box-shadow: 2px 2px 2px var(--secondary);
  color: #fff;
  font-size: 1rem;
}
.btnadd:hover {
  background-color: rgb(25, 151, 25, 0.5);
}

@media (max-width: 768px) {
  .columns {
    padding-left: 2rem;
    margin: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  th {
    padding: 1rem;
    padding-inline: 1rem;
  }
  td {
    padding-inline: 1rem;
  }
}
