.dbs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg);
    color: #fff;
    position: fixed;
}
.dashboard-menu{
    flex-direction: column;
    width: 15rem;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    top: 5.02rem;
    left: 0;
    transition: all 0.3s ease-in-out;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
}
.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

.menu-content label{
    padding-top: 2rem;
}
.menu-content .label-general{
    padding-top: 0;
}
.menu-content .menu-list{
    padding-left: 1rem;
}

.icon-active{
    color: #345;
}
.icon-disabled{
    color: #fff;
}
.menu-list{
    display: flex;
    flex-direction: row;
    color: #fff;
    gap:10px;
}
.menu-list:hover{
    color:var(--primary);
}
.menu-list-user{
    display: flex;
    flex-direction: row;
    color: #fff;
    gap:10px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: -1rem;
}
.drop-content{
    color: #000;
    display: inline-block;
    flex-direction: column;
    position: relative;
}
.btn_logout{
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-size: medium;
    gap: 10px;
    margin-left: 1.2rem;
}
.btn_logout:hover{
    color: var(--primary);
}




@media(max-width: 768px){
    .dashboard-menu.min{
        left: 0;
    }
    .dbs-header .menu-btn {
        padding: 1rem;
    }
    .dbs-header .menu-btn p {
        padding: 0.4rem;
    }
    .dashboard-menu{
        left: -15rem;
    }
}