/* Gaya umum */
.Info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(90deg, rgba(33, 41, 62, 1)8%, rgba(255, 255, 255, 0)110%), url(../../image/sekolah5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Info-container::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    /* height: 25%; */
    /* bottom: -5rem; */
    background: linear-gradient(0deg, rgba(33, 41, 62, 1)40%, rgba(255, 255, 255, 0)80%);
}

.Info {
    background-color: transparent;
    border-collapse: collapse;
    /* text-align: center; */
    margin: 20px auto;
    margin-top: 8rem;
    padding: 20px;
    max-width: 90%;
    border-radius: 8px;
    position: relative;
    background:transparent;
    border: 2px solid rgba(225, 225, 225, .5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .5);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    /* margin-right: -12rem; */
}

/* Gaya judul */
.Info-judul {
    color: var(--hover);
    font-size: 24px;
    margin-top: 0;
}

/* Gaya untuk setiap judul h1 */
.Info-container h1 {
    color: var(--secondary);
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
/* Gaya untuk setiap judul h2 */
.Info-container h2 {
    color: #007bff;
    font-size: 20px;
    margin-top: 20px;
}

/* Gaya untuk setiap judul h3 */
.Info-container h3 {
    font-size: 18px;
    margin-top: 20px;
}

/* Gaya untuk daftar dengan nomor */
.Info-container ol {
    margin: 0;
    padding: 0 0 0 20px;
}

/* Gaya untuk setiap elemen dalam daftar dengan nomor */
.Info-container ol li {
    font-size: 16px;
    margin-top: 5px;
}

/* Gaya untuk daftar dengan bullet (unordered list) */
.Info-container ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

/* Gaya untuk setiap elemen dalam daftar dengan bullet (unordered list) */
.Info-container ul li {
    font-size: 16px;
    margin-top: 5px;
}

/* Gaya untuk teks yang ditebalkan */
.Info-container strong {
    font-weight: bold;
}

/* Gaya untuk tautan (link) */
.Info-container a {
    color: #007bff;
    text-decoration: none;
}

.Info-container a:hover {
    text-decoration: underline;
}
.Info-container p {
    color: var(--tertiary);
    font-size: 16px;
    margin-top: 5px;
}