/* CSS untuk list-hasil-container */
.list-hasil-container {
    padding: 20px;
}

/* CSS untuk list-hasil-grid */
.list-hasil-grid {
text-align: center;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS untuk list-hasil-judul */
.list-hasil-judul {
font-size: 26px;
margin-bottom: 10px;
}

.list-rekap-subjudul {
margin-bottom: 20px;
color: var(--secondary);
}

.list-hasil-table-container {
margin-top: 3rem;
}

/* CSS untuk table */
.container-table-hasil {
height: 100%;
overflow-x: auto;
margin-top: 50px;
max-width: 100%;
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
border: 1px solid #ccc;
padding: 10px;
text-align: center;
}

th {
background-color: var(--quartenary);
top: 0;
position: sticky;
}

/* Style Untuk Pagination */
.pagination {
text-align: center;
margin-top: 20px;
}

.pagination .page-button {
padding: 10px 20px;
margin: 0 15px;
cursor: pointer;
background-color: transparent;
color: #fff;
border: none;
}

.pagination .page-button-active {
background-color: var(--hover);
padding: 10px 15px;
margin: 0 5px;
cursor: pointer;
color: #fff;
border-radius: 50%;
}

.pagination .page-button-nonactive {
background-color: transparent;
padding: 10px;
margin: 5px;
cursor: pointer;
color: #fff;
}

/* CSS untuk jumlah-data */
.jumlah-data {
margin-top: 20px;
font-size: 16px;
text-align: left;
}

/* CSS untuk input search */
.search-box {
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

/* CSS untuk tombol input data */
.btnadd {
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
margin: 10px 0;
}

.btnadd:disabled {
background-color: #ccc;
}

/* CSS untuk tab */
.tabs-jalur{
display: flex;
justify-content: space-around;
margin-bottom: 1rem;
background-color: transparent;
height: 3rem;
}

.tabs-jalur button {
background-color: var(--quartenary);
border: none;
flex: 1;
padding: 0.5rem 1rem;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
border-radius: 5px;
font-size: 1.5rem;
}

.tabs-jalur button.active {
background-color: var(--secondary);
color: rgb(15, 15, 15);
}

.tabs-jalur button.active:hover {
background-color:#9e8e02;
}
.tabs-jalur button:hover:not(.active) {
background-color: var(--hover);
}

/* CSS untuk tombol hapus */
.btnHapus-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #9e8e02; */
}

.btnHapus {
background-color: #dc3545;
color: #fff;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
}

.btnHapus:hover {
background-color: #c82333;
}
