/* CSS untuk modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Latar belakang overlay dengan transparansi */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #d60707;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content {
    padding: 20px 0;
}
.foto-user{
    width: 4rem;
    height: 4rem;
}
.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.modal-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #0056b3;
}