/* CSS untuk modal */
.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 40rem;
    top: 4rem;
    right: 3rem;
    z-index: 1;
}

.modal {
    background-color: rgb(51, 51, 51);
    border-radius: 1rem;
    box-shadow: 0 0 1.2rem rgb(0, 0, 0, .5);
    width: 30rem;
    height: 40rem;
    padding: 2rem;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.modal-header h2{
    margin-left: 1rem;
    color: var(--secondary);
}
.modal-close {
    color: var(--secondary);
    background: none;
    font-size: 35px;
    cursor: pointer;
}
.modal-close:hover {
    color: var(--tertiary);
}
/* Bagian Konten */
.modal-content {
    display: grid;
    padding: 20px 0;
}
.profil-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* border: 1px solid #fff; */
    /* background-color: #0056b3; */
}
.profil-detail .foto-user{
    width: 7rem;
    height: 7rem;
}
.profil-detail .detail {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profil-detail .profile-picture {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profil-detail .foto-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profil-detail .user-info {
    flex: 1;
}
.profil-detail h4 {
    margin: 5px 0;
    font-size: 16px;
    color: var(--secondary);
}

.modal-user-settings{
    margin: 0 1.5rem;
    padding: 1rem 0;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0), 0px -1px 1px -1px rgba(0, 0, 0);
}
.modal-user-settings:hover{
    border-radius: 15px;
    background-color: var(--quartenary);
}
.modal-user-settings a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--secondary);
    font-size: 1.5rem;
}
.modal-user-settings .modal-button-setting, .modal-button-user{
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-size: 1.5rem;
    gap: 1rem;
    cursor:pointer;
}
.modal-user-icon{
    color: var(--primary);
    background-color: var(--secondary);
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    padding: 10px;
}
.modal-btn-logout{
    gap: .5rem;
    color: var(--secondary);
    font-size: 1.5rem;
    background: var(--primary);
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5rem;
}
.modal-btn-logout:hover{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.5);
    background: var(--quartenary);
}

/* Bagian Footer */
.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.modal-button-user, .modal-button-setting {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}