/* CSS untuk modal */
.modal-overlay {
    position: fixed;
    top: 4rem;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Latar belakang overlay dengan transparansi */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 40rem;
}

.modal {
    background-color: var(--quartenary);
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    width: 25rem;
    height: 40rem;
    padding: 20px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.modal-close {
    background: none;
    font-size: 30px;
    cursor: pointer;
}
.modal-close:hover {
    color: var(--secondary);
}

.modal-content {
    padding: 20px 0;
}
.profil-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-user{
    width: 4rem;
    height: 4rem;
}
.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.modal-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #0056b3;
}