/* CSS untuk sidebar */
.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 100vh;
    background-color: rgb(51, 51, 51, .5);
    color: #fff;
}
.sidebar-pp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}
.sidebar-profil{
    display: block;
    text-align: center;
}
.sidebar-profil .username{
    color: gray;
}
.pp{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar-content{
    position: fixed;
    display: block;
    width: 100%;
    top: 2rem;
    left: 0;
}
.grid-container{
    margin-bottom: 2rem;
}
.sidebar-label {
    display: block;
    font-size: 19px;
    color: var(--primary);
    width: 100%;
}

.sidebar-menu-list {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 15px;
    gap: .8rem;
    font-size: 17px;
}

.sidebar-menu-list:hover {
    background-color: rgb(128, 128, 128, .2);
    border-radius: 10px;
    color: var(--primary);
}
.sidebar-menu-list.active {
    background-color: rgb(128, 128, 128, .2);
    border-radius: 10px;
    color: var(--primary);
}

.sidebar-menu-list svg {
    margin-right: 5px;
}

/* CSS untuk tombol logout */
.sidebar-btn_logout {
    text-align: start;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    margin-left: 20px;
    width: 200px;
    gap: .8rem;
    font-size: 17px;
}

.sidebar-btn_logout:hover {
    background-color: rgb(128, 128, 128, .2);
    border-radius: 10px;
    color: var(--primary);
}
