/* CSS untuk list-user-container */
.list-user-container {
  padding: 20px;
}

/* CSS untuk list-user-grid */
.list-user-grid {
  /* background-color: #fff; */
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS untuk list-user-judul */
.list-user-judul {
  font-size: 26px;
  margin-bottom: 20px;
}
.list-user-table-container{
  margin-top: 3rem;
}
/* CSS untuk btnadd */
.btnadd-user{
  width: 10rem;
    height: 2rem;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--primary);
    margin-top: 4rem;
}

.btnadd-user:hover {
  background-color: #0056b3;
}
.btnEdit-user{
  width: 5rem;
  height: 2rem;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary);
}
.btnHapus-user{
  width: 5rem;
  height: 2rem;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: red;
}
.btnHapus-user:hover, .btnEdit-user:hover{
  background-color: rgb(255, 255, 255, .2);
}

/* CSS untuk table */
.container-table-user {
  height: 100%;
  overflow-x: auto;
  margin-top: 20px;
  max-width: 100%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th,td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: var(--quartenary);
  top: 0;
  position: sticky;
}

/* Style Untuk Pagination */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination .page-button {
  padding: 10px 20px;
  margin: 0 15px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;
}
.pagination .page-button-active {
  background-color: var(--hover);
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
}
.pagination .page-button-nonactive {
  background-color: transparent;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
}

/* CSS untuk jumlah-data */
.jumlah-data {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
}

/* CSS untuk VLabel */
.VLabel {
  font-size: 16px;
  margin-top: 20px;
}

/* CSS untuk atur-jumlah */
.atur-jumlah {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* CSS untuk btn-data */
.btn-data {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
}

.btn-data:hover {
  background-color: #0056b3;
}

/* CSS untuk input-banyakdata */
.input-banyakdata {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}

/* BAGIAN ADD USER */
.add-user-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 70vh;
  box-shadow: 10px 20px 40px rgba(8, 187, 211, 0.5);
}

.add-user-judul {
  margin: 3rem;
  font-size: 2.5rem;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.field {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}
.action-btn {
  /* align-items: center; */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}
.action-btn:hover{
  background-color: #0056b3;
}
.select {
  width: 100%;
}

/* error msg */
.msg {
  color: red;
}

.option {
  width: 100%;
  padding: 10px;
}

/* BAGIAN EDIT USER */
.edit-user-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 70vh;
  box-shadow: 10px 20px 40px rgba(8, 187, 211, 0.5);
}

.edit-user-judul {
  margin: 3rem;
  font-size: 2.5rem;
}