.addbukti-container {
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: -10rem;
}
.addbukti-navbar{
  position: sticky;
  top: 0;
  width: 100%;
  height: 12rem;
  /* border: 1px solid #fff; */
  border-radius: .3rem;
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 1.2rem rgb(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.addbukti-judul {
  margin-top: 0;
  font-size: 2.5rem;
}
.addbukti-form{
  margin-top: 0;
  margin-bottom: 2rem;
}
.addbukti-judul-form{
  text-align: center;
  padding: 2rem;
}
.bukti-input-box {
  display: flex;
  margin-bottom: 15px;
  background-color: #45a049;
  width: fit-content;
  border-radius: 20px;
}

.bukti-label {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
}

.bukti-input-id {
  display: block;
  width: 3rem;
  font-size: 1rem;
  padding: 10px;
  padding-bottom: 15px;
  background-color: transparent;
  color: red;
}

.bukti-file-container {
  display: flex;
  margin-bottom: 15px;
}
.bukti-file {
  margin-bottom: 15px;
}

.btnadd {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btnadd:hover {
  background-color: #45a049;
}

figure {
  margin-top: 20px;
}

figure img {
  max-width: 100%;
  height: 6rem;
  padding: 5px;
  margin: 0;
}
