.Kuota{
    margin-top: 6rem;
    /* background-color: aqua; */
}
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    /* color: #333; */
}

.kuota-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    background: linear-gradient(to right, #007bff, #666, #333);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kuota-container h1 {
    font-size: 2rem;
    color: #333;
}

.update-time {
    font-size: 1rem;
    color: #666;
}

.quota-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.quota-item {
    background: #f0f0f0;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: left;
}

.quota-item h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 0 0 10px 0;
}

.quota-item p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.progress-bar {
    background-color: #007bff;
    height: 20px;
    border-radius: 8px;
}

.progress-container {
    background-color: #d8d8d8;
    height: 20px;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .quota-item {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .quota-item {
        width: calc(100% - 40px);
    }
}
