/* CSS untuk list-jalur-container */
.list-jalur-container {
    padding: 20px;
}

/* CSS untuk list-jalur-grid */
.list-jalur-grid {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS untuk list-jalur-judul */
.list-jalur-judul {
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 40%;
}

/* CSS untuk btnadd */
.btnadd {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.btnadd:hover {
    background-color: #0056b3;
}

/* CSS untuk table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: var(--quartenary);
}

/* Style Untuk Pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-button {
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
}

.pagination .page-button-active {
    background-color: var(--hover);
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
}

.pagination .page-button-nonactive {
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
}

/* CSS untuk jumlah-data */
.jumlah-data {
    margin-top: 20px;
    font-size: 16px;
}

/* CSS untuk VLabel */
.VLabel {
    font-size: 16px;
    margin-top: 20px;
}

/* CSS untuk atur-jumlah */
.atur-jumlah {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* CSS untuk btn-data */
.btn-data {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-data:hover {
    background-color: #0056b3;
}

/* CSS untuk input-banyakdata */
.input-banyakdata {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 5px;
}