.layout-columns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-left: 15rem;
    margin-right: 0;
    /* background-color: rgba(8, 117, 212, 0.826); */
}
.layout-column{
    /* background-color: brown; */
}