/* Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background: linear-gradient(to right, #ec02ec,#00b0eb);
    /* border-bottom: 1px solid #6e5e4c; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.header .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    filter: drop-shadow(4px 4px 10px #000000);
    max-width: 100%;
    margin-bottom: 10px;
}
.header .logo1 {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(4px 4px 10px #000000);
}
.header .logo2{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}
.header .logo2 span{
    color: var(--primary);  
}

.header-tab-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: height 0.3s ease;
}
.header-tab {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 0.5rem; /* Mengatur jarak antara ikon dan teks */
    font-size: 1.4rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.header-tab:hover {
    color: var(--bg);
}
.header-tab::after {
    content: " ";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: transform 0.2s linear;
}
.header-tab:hover::after {
    transform: scaleX(1);
}
.btn-login1 {
    background-color: var(--primary);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 0.5rem;
}
.btn-login1:hover {
    background-color: var(--tertiary);
    cursor: pointer;
    transition: color 0.5s ease;
    color: #010101;
}  

/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
  /* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    .menu-toggle {
        display: inline-block;
    }
    .header .header-tab-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        top: 100%;
        right: -100%;
        background-color: #6e5e4c;
        width: 25rem;
        height: 100vh;
        transition: 0.3s;
    }
    .header .header-tab-container.active {
        right: 0;
    }
    .header .header-tab-container .header-tab {
        color: var(--secondary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .header .header-tab-container .header-tab::after {
        transform-origin: 0 0;
    }
    .header .header-tab-container .header-tab:hover::after {
        transform: scaleX(0.2);
    }
}
  /* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}