/* Layout.css */
.layout-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Navbar dan Sidebar akan berada di sisi kiri, Konten akan mengisi sisanya */
    /* grid-gap: 16px; */
    max-height: 100vh; /* Sesuaikan dengan tinggi yang Anda inginkan */
    grid-template-areas:
        "sidebar navbar"
        "sidebar content";
}

.navbar {
    grid-area: navbar;
    background-color: transparent;
    color: #fff;
    padding: 16px;
    height: 8vh;
}  
.sidebar {
    grid-area: sidebar;
    background-color: #222;
    color: #fff;
    padding: 16px;
    transition: transform 0.3s;
}
.sidebar-open .sidebar{
    transform: translateX(0);
    width: 250px;
}  
.sidebar-closed .sidebar{
    transform: translateX(-250%);
    width: 0;
}
.sidebar-closed .navbar,
.sidebar-closed .layout-content{
    width: 100%; /* Navbar dan Konten memenuhi sisa layar */
    margin-left: -1rem;
}

/* BAGIAN LAYOUT */
.layout-content {
    grid-area: content;
    background-color: transparent;
    padding: 16px;
    height: 92vh;
}
.kanan-container{
    overflow-y: auto;
}
.kanan-container::-webkit-scrollbar{
    width: 10px;
}
.kanan-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}
.kanan-container::-webkit-scrollbar-track {
    background-color: gray;
}

@media (max-width: 768px) {
    .sidebar-closed .sidebar{
        transform: translateX(0);
        width: 250px;
    }  
    .sidebar-open .sidebar{
        transform: translateX(-250%);
        width: 0;
    }
    .sidebar-open .navbar,
    .sidebar-open .layout-content{
        margin-left: -2rem;
    }
}