:root {
  --primary: #317ac7;
  --secondary: #fcf9bf;
  --tertiary: #7cf6fd;
  --quartenary: #707D9D;
  --hover: rgb(31, 94, 211);
  --bg: #21293e;
  --bghov:#ffffffd6;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  /* margin-top: 6rem; */
  background-color: var(--bg);
  color: #fff;
}
.btnEdit {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  /* padding-inline: 2rem; */
  background-color: var(--primary);
  border-radius: 1rem;
  color: #fff;
  font-size: medium;
  width: 6rem;
}

.btnHapus {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  /* padding-inline: 2rem; */
  background-color: rgb(210, 15, 15);
  border-radius: 1rem;
  color: #fff;
  font-size: medium;
  margin-top: 1rem;
  width: 6rem;
  cursor: pointer;
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map{
    height: 30rem;
  }
  .contact .row form{
    padding-top: 0;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
