.fasilitas{
    padding: 8rem 7% 1.4rem;
}
.fasilitas h2{
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.fasilitas h2 span{
    color: var(--primary);
}
.fasilitas p{
    text-align: ccenter;
    max-width: 40rem;
    margin:auto;
    font-weight: 200;
    line-height: 1.6rem;
}
.fasilitas .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    gap: 5rem;
}
.fasilitas .row .card{
    margin-bottom: 3rem;
    text-align: center;
}
.fasilitas .row .card .card-title{
    font-size: 1.2rem;
    font-weight: 700;
}
.fasilitas .row .card .card-title span{
    color: var(--primary);
}
.fasilitas .row .card p{
    max-width: 20rem;
}