.hero{
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 100vh;
    background-position: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, rgba(33, 41, 62,1)8%, rgba(255,255,255,0)80%), url(../../image/sekolah5.jpg);
    position: relative;
    
}
.hero::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height:25%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(33, 41, 62,1)8%, rgba(255,255,255,0)110%);
}
.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}
.hero .content h1{
    font-size:3rem;
    color: var(--secondary);
    text-shadow: 1px 1px 3px rgba(255,255,255,0.5);
    line-height: 1.2;
}
.hero .content h1 span{
    color: var(--primary);
    text-shadow: 1px 1px 3px rgba(33,41,62, 0.8);
}
.hero .content p{
    color: var(--secondary);
    font-size: 1.4rem;
    margin-top: 1rem;
    font-weight: 300;
    line-height: 1.2;
}
.hero .content .cta{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--bg);
    background-color: var(--secondary);
    border-radius: 1rem;
    box-shadow: 2px 2px 4px var(--primary);
}
.hero .content .cta:hover{
    color:var(--tertiary);
    background-color: #706f49;
}