:root{
    --primary: #317ac7;
    --bg: #21293e;
    --tertiary: #7cf6fd;
    --secondary: #fcf9bf;    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}
html{
    scroll-behavior: smooth;
}